* {
    font-family: monospace;
    font-size: 24px;
    color: white;
    
}

body {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: #EEC6CA;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 730px;
    width: 460px;

    background-color: #439775;

    border-radius: 16px;
}

.screen {
    display: flex;
    flex-direction: column;
    
    height: 160px;
    width: 360px;

    margin: 26px;
    margin-top: 36px;

    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 12px;

    background-color: #2A4747;
}

p {
    text-align: end;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
}

p#upper {
    font-size: 24px;
}

p#lower {
    font-size: 36px;
}

.container-mainbtn {
    display: flex;
    justify-content: center;
    gap: 2px;
}

button.main,
.btn,
.btn.operator {
    height: 90px;
    border-style: none;
    margin: 1px;

    background-color: #61D095;

    cursor: pointer;

    transition: 0.4s;

}

button.main:hover,
.btn:hover {
    background-color: coral; 
}

.btn.operator:hover {
    background-color: rgb(1, 143, 143);
}

#Enter:hover {
    background-color: rgb(53, 184, 53);
}

button.main.clicked,
.btn.clicked {
    background-color: #275241;
}

.container-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 4px;
}

.btn {
    width: 90px;
}

button.main {
    width: 184px;
}
